
.carousel-container, .carousel-interface {
    width: 40vw;
    height: 40vw;
}

.carousel-container {
    border: 1px solid black;
    margin-top: 10vh;
    overflow: hidden;
    display: flex;
    flex-flow: row nowrap;
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.carousel-container::-webkit-scrollbar {
    display: none;
}

.carousel-interface {
    position: absolute;
    z-index: 10;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.nav-buttons {
    margin-top: 47.5%;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-button {
    background-color: whitesmoke;
    color: cornflowerblue;
    width: 25px;
    height: 25px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    cursor: pointer;
}

.progress-bar {;
    display: flex;
}

.progress-point {
    margin: 0 4px;
    font-size: 25px;
    color: lightslategrey;
    cursor: pointer;
}

.active-point {
    color: cornflowerblue;
    cursor: default;
}

@media screen and (max-width: 1024px) {
    .carousel-container {
        margin-top: 2vh;
    }
    .carousel-container, .carousel-interface {
        width: 50vw;
        height: 50vw;
    }
}
@media screen and (max-width: 550px) {
    .carousel-container {
        border-left: 0 solid;
        border-right: 0 solid;
    }
    .carousel-container, .carousel-interface {
        width: 100vw;
        height: 100vw;
    }
}